body
{
    background-color: #000;
    margin:0px;
    padding: 0px;
    min-height: 100vw;
}
container
{
     width:100vw;
  
    display: grid;
    grid-template-rows: 8vh 90vh ;
}
header
{
    background-color:white;
}
main
{
background-color:aqua;
}
article
{
border:1px solid blue;
}
footer
{
background-color:yellowgreen;
}