:root{
--trans:all .5s ease-in-out;
--yellow:#fca311;
--yellow2:#bd7600;
--black:#1c1c1c;
--blue:#14213D;
    
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body
{
    background-color: var(--yellow);
    margin:0px;
    padding: 0px;
    min-height: 100vw;
    overflow-x:hidden;
    font-family: 'Anton', monospace;
    background-image:linear-gradient(90deg, var(--yellow), var(--yellow2) 80%);
    
}
container
{
     
    display: grid;
    grid-template-rows: 900px 400px 600px auto 110px;
}
main
{
display:grid;
grid-template-columns: 3.5fr 6.5fr;
overflow: hidden;
text-align:center;

}
.info
{
  position: relative;
    padding-top: 100px;
    padding-left:30px;
}
.info h1
{ 
    font-size:3.5em; 
    color:var(--black);
    text-shadow:4px 4px 2px #fff;
    margin:60px 0px;
}
.info h2
{
   margin:60px 0px;
    text-shadow:2px 2px 3px #fff;
}
.info a
{
    text-decoration: none;
    font-size:1.5em;
}
a
{
    display:inline-block;
}
.info a div
{
    z-index: 999;
    
    width:280px;
    height: 65px;
    border-radius: 5px;
    text-decoration:none;
    font-size:1.15em;
    font-weight: 700;
    letter-spacing: 2px;
    
    background-color:var(--yellow);
    color:var(--black);
    text-shadow:2px 2px 2px #fff;
    transition:all .3s linear;
    box-shadow:-10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1);
    
    
}
.info a div:hover
{
    
   box-shadow:
                inset -10px -10px 10px rgba(255,255,255,0.2),
                inset 15px 15px 15px rgba(0,0,0,0.2);
    
    
}



.person
{
position: absolute;
width:0px;
height:0px;
top:0px;
right:0px;
border-bottom: 994px solid var(--black);
border-left:60vw solid transparent;
border-top:0px solid transparent;
  
}

.person img
{
   position: absolute;
    /*right:370px;370*/
    top:50px;
   right:380px;
    padding-left:10px;
    z-index:-9999;
    filter:grayscale(.8)
   
}

.information
{
background-color:var(--black);
color:#fff;
padding:35px;
text-shadow:2px 2px 2px #000;
z-index: 999;
}
.information h1
{
    font-size:2.6em;
    color:var(--yellow);
}
.info  img{
   margin-bottom:-40px;
}
.information p
{
    transform:translate(0px);
    font-size:1.2em;
    position: absolute;
}

/*books*/


.books
{
    display:grid;
    grid-template-columns:1.5fr 20fr 1.5fr;
}

.left-arrow
{
    display: flex;
}
.right-arrow
{
    display: flex;  
}
.left-arrow img
{
    margin:auto auto;
}
.right-arrow img
{
    margin:auto auto;
}
.box_books
{
    display:flex;
    flex-wrap:wrap;  
    margin:auto auto;
}
.buy
{
    width:80px;
    opacity:0;
   
    transition:var(--trans);
    position: absolute;
    left:48px;
    top:125px;
   
    
}
.book
{
   border:5px solid #52322f;  
   height: 250px;
   margin:auto 30px;
   position: relative;
    transition:var(--trans);
}
.book:nth-child(3)
{
    order:1;
}
.book h1
{
    text-align: center;
    font-size:.9em;
    color:var(--black);
    text-shadow:2px 2px 2px #fff;
    
}
.book a
{
    text-decoration: none;
}
.book:hover
{

}
.book:hover .buy
{
    opacity:1;
}

@keyframes main_to_left
{
    from{transform:translateX(0px) scale(1.5); }
    to{transform:translateX(-200px) scale(1);}
}
@keyframes main_to_right
{
    from{transform:translateX(0px) scale(1.5); }
    to{transform:translateX(200px) scale(1);}
}
@keyframes left_to_main
{
    from{transform:translateX(0px) scale(1); }
    to{transform:translateX(-200px) scale(1.5);}
}
@keyframes right_to_main
{
    from{transform:translateX(0px) scale(1); }
    to{transform:translateX(200px) scale(1.5);}
}
@keyframes to_left
{
    from{transform:translateX(0px)}
    to{transform:translateX(-460px)}
}
@keyframes to_right
{
    from{transform:translateX(0px)}
    to{transform:translateX(460px)}
}
.main
{
  transform: scale(1.5);  
    
}
.side
{
  transform: scale(1);  
}

/*heros*/
.heros
{
   background-color:var(--black); 
   display:grid;
    padding-bottom: 10px;
}
.heros h1
{
    text-align: center;
    font-size:2.6em;
    color:var(--yellow);
}
.box_heros
{
   display:flex;
   flex-wrap:wrap;  
    justify-content: center;
    padding:0px 50px;
}
.hero
{
    
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    border-right:2px solid transparent;
    border-bottom:2px solid transparent;
    
    margin:10px;
    position: relative;
    cursor:pointer;
    overflow: hidden;
    transition:var(--trans);
}
/*.hero:nth-child(odd)
{
border-bottom:2px solid var(--yellow);
border-right:2px solid var(--yellow);
border-top:0px solid var(--yellow);
border-left:0px solid var(--yellow);
}*/
.hero img
{
    width:200px;
    margin-bottom: -4px;
    transition: var(--trans);
}

.rectangle
{
    position: absolute;
    left:0px;
    top:0px;
    width:0px;
    border-top:290px solid var(--yellow);
    border-right:200px solid var(--black);
    border-bottom:0px solid transparent;
    opacity: 0;
    transition: var(--trans);
    transform: translateX(-200px);
}
.hero span
{
    position: absolute;
    left:0px;
    bottom:30%;
    
    text-align: center;
    font-size:1.5em;
    font-weight: 700;
    padding: 10px;
    color:var(--yellow);
    text-shadow:2px 2px 3px #000;
    opacity: 0;
    transition: var(--trans);
}
.hero:hover 
{
    /*
transition-delay: .5s;
border-right:2px solid var(--yellow);
border-bottom:2px solid var(--yellow);*/
}
.hero:hover img
{
    filter:brightness(.2);
 /**/
/*opacity: .1;*/
    
}


.hero:hover span
{
opacity:1;
}
.hero:hover .rectangle
{
    filter:brightness(.2);
    opacity:.6;
     transform: translateX(0px);
}


footer
{
    text-align: center;
    text-shadow:2px 2px 2px #fff;
}

footer div a
{
    margin-top:30px;
}

@media only screen and (max-width:1200px){
    .person img
    {
      right:160px;
    }
}
@media only screen and (max-width:940px){
    .person img
    {
      right:20px;
    }
}
@media only screen and (max-width:1015px){
   
}
@media only screen and (max-width:812px){
     .side
    {
        display:none;
    }
}
@media only screen and (max-width:760px){
    .person img
    {
      display:none;
    }
}
@media only screen and (max-width:590px) {
    
     container
{
    grid-template-rows: 900px 540px 600px auto 110px;
}
    
}
@media only screen and (max-width:546px) {
    
    .person
    {
       
       border-left:35vw solid transparent !important; 
    }
       container
{
    grid-template-rows: 900px 540px 600px auto 110px;
}
    
}
@media only screen and (max-width:418px){
    .information
    {
        padding: 5px !important;
    }
    .person
    {
      display:none;
    }
}

@media only screen and (max-width:384px){
container
{
    grid-template-rows: 900px 580px 600px auto 110px;
}
.information h1{
    font-size:2em; 
}
.heros img
{
    width:150px;
}
.book
{
       transform: scale(1);
        margin:0px;
}
   
}
@media only screen and (max-width:320px){
    .info
    {
        padding-left:20px;
    }
  
}
@media only screen and (max-width:280px){
    .info
    {
        padding-left:0px;
    }
    
}
