:root{
--transition:white;
--yellow:#fca311;
--black:#56565a;
}
body
{
    background-color: var(--black);
    margin:0px;
    padding: 0px;
    min-height: 100vw;
    overflow-x:hidden;
}
container
{
     
    display: grid;
   /* grid-template-rows: 8vh 90vh 30vh 50vh 50vh 8vh;*/
    grid-template-rows: 75px 1000px 400px 500px 500px 90px;
}
header
{
    position: relative;
    /*background-color:#fca311;*/
    position: sticky;
    left: 0px;
    top:0px;
    z-index:9999;
}
.box
{
    position: absolute;
    left:10px;
    width:50px;
    height:50px;
    margin-top:25px;
    display:grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows:repeat(3, 10px);
    grid-gap:10px;
    
}
.square
{
    background-color:var(--transition); 
    transition:.3s ease-in-out;
    transform: rotate(0deg);
    box-shadow: 4px 4px 12px;
}
main
{

display:grid;
grid-template-columns: 3.5fr 6.5fr;
    overflow: hidden;
}
.info
{
   width:0px;
    height: 0px;
    
    border-bottom: 400px solid white;
    border-left:40vw solid transparent;
    border-top:0px solid transparent;


.person
{
   
   
}
.1_tr
{
    
}






article
{

}
footer
{

}